.slider-main{
    background: blueviolet;
    display: flex;
    align-items: center;
}
.slider {
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.slides {
    display: none;
    transform: scale(0.5);
    width: auto;
    height: 56rem;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 20px;
    transition-duration: 600ms;
}
.controls{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4{
    display: flex;
    transition: transform ease-in-out .10s, opacity ease-in-out .10s;
    justify-content: center;
    transform: scale(1);
}
.slider-text{
    width: 400px;
    height: 200px;
}
#slide1:checked  ~.slider-text > .slide1,
#slide2:checked ~.slider-text > .slide2,
#slide3:checked  ~.slider-text > .slide3,
#slide4:checked  ~.slider-text > .slide4{
    display: flex;
    transform: scale(1);
    transition-duration: 600ms;
    transition: background ease-in-out .5s;
}
.wrapper > input {
    display: none;
}
.wrapper label {
    cursor: pointer;
    display: inline-block;
    margin: 40px 12px 0 40px;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}
.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
    background: #c289ff;
}
.wrapper label:hover,
#slide11:checked ~ .controls label:nth-of-type(1),
#slide12:checked ~ .controls label:nth-of-type(2),
#slide13:checked ~ .controls label:nth-of-type(3),
#slide14:checked ~ .controls label:nth-of-type(4) {
    background: #c289ff;
}
.slider-text{
    font-size: 40px;
    font-family: Forum, sans-serif;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
img {
    width: 90%;
    height: auto;
    overflow: hidden;
}

@media (max-width: 1600px) {
    .slides{
        height: 28rem;
        width: 56rem;
    }
    .pics{
        display: flex;
        justify-content: center;
    }
}
.wrapper {
    height: auto;
    margin: 100px auto 0;
    width: 100rem;
    display: grid;
    grid-template-columns: 0 2.2fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    ". pics pics"
    ". slider-text points"
    ". . .";
    grid-auto-flow: column;
}
.pics { grid-area: pics; }
.slider-text { grid-area: slider-text; }
.points {
    grid-area: points;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    height: 4rem;
}
.slider-text{
    height: 20rem;
}
.text {
    width: 50rem;
    height: 20rem;
}
@media (max-width: 1600px){
    .slider-text {
        padding-left: 10px;
    }
    p{
        width: 10rem;
        margin: 0;
    }
    .text {
        width: 20rem;
        height: 5rem;
        margin: 0;
    }

}

@media (max-width: 992px) {
    .text {
        width: 100%;
        height: 4rem;
        margin: 0 auto;
    }
    img {
        width: 95%;
    }
    p {
        width: inherit;
        text-align: center;
        letter-spacing: 3px;
        margin-block-start: 1rem;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .points{
        width: 100%;
    }
    .wrapper{
        grid-template-columns: 0 3fr 0;
        grid-template-rows: 1fr 0.4fr 0.4fr;
        grid-template-areas:
        ". pics pics"
        ". slider-text slider-text"
        ". points points";
        grid-gap: 0 0;
    }
    .pics { grid-area: pics; }
    .slider-text { grid-area: slider-text; }
    .points {
        grid-area: points;}
    .slider-text {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: flex-start;
    }
    .text {
        justify-content: center;

    }
    .points {
        justify-content: center;
    }
    .slides {
        height: 24rem;
        width: 100%;
    }
    .slider-text{
        align-items: baseline;
    }
}

@media (max-width: 420px) {
    .slides {
        height: 18rem;
        width: 100%;
    }
    img {
        width: 99%;
    }
    .slider-text {
        font-size: 30px;
        letter-spacing: 2px;
    }
}